<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\src\Howzit.API.Tests\packages.config" />
  <repository path="..\..\src\Howzit.API\packages.config" />
  <repository path="..\..\src\Howzit.DAL\packages.config" />
  <repository path="..\..\src\Howzit.Domains\packages.config" />
</repositories>